[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/calculiTestUser
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/calculiTestUser
	label-Verified = -1..+1 group user/calculiTestUser
	push = group user/calculiTestUser
	read = group user/calculiTestUser
	rebase = group user/calculiTestUser
	removeReviewer = group user/calculiTestUser
	submit = group user/calculiTestUser
	exclusiveGroupPermissions = label-Code-Review label-Verified
[access "refs/heads/*"]
	create = group user/calculiTestUser
	push = +force group user/calculiTestUser
	pushMerge = group user/calculiTestUser
	read = group user/calculiTestUser
[access "refs/tags/*"]
	push = group user/calculiTestUser
	push = +force group user/calculiTestUser
